@model AuthorityCouch.Models.DcObjectViewModel
@{
    ViewBag.Title = "SubjectView";
}

<h2>@ViewBag.DigitalCollectionsUrl</h2>
<hr />
@if (Model.Name != null && Model.Name.Results.Docs.Count > 0)
{
    <h4>Subject Authorities</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>

            </tr>
        </thead>
        @foreach (var doc in Model.Name.Results.Docs)
        {
            <tr>
                <td><a href="@Url.Action("Subject", "Assign", new {id = doc._id})">@doc.authoritativeLabel</a></td>
                <td>
                    @foreach (var name in doc.dcSubject)
                    {
                        <span>@name.type</span>
                    }
                </td>
  
            </tr>
        }
    </table>
    <br />
    <br />
}
